
<p>
  <mat-toolbar >
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button> -->
 <button mat-button [matMenuTriggerFor]="account">
  <mat-icon>account_box</mat-icon>
</button>

</mat-toolbar>
</p>

<div style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px; text-align: center;">


  <span style="display:inline-block; width: 85%;"></span>

  <h1 class="center">Inventory of ALTEA Charity Organization</h1>

  <mat-menu  #menu="matMenu">
    <button class="menu-item" mat-menu-item [matMenuTriggerFor]="users">Users</button>
    <button class="menu-item" mat-menu-item [matMenuTriggerFor]="recipients">Recipients</button>
    <button class="menu-item" mat-menu-item [matMenuTriggerFor]="gallery">Gallery</button>
    <button class="menu-item" mat-menu-item [matMenuTriggerFor]="donations">Donations</button>
    <button class="menu-item" mat-menu-item [matMenuTriggerFor]="report">Reports</button>
    <button class="menu-item" mat-menu-item [matMenuTriggerFor]="deviceInfo">Device Info</button>
  </mat-menu>

  <mat-menu class="menu-class" #users="matMenu">
    <button mat-menu-item (click)="addUser()">Add a User</button>
    <button mat-menu-item (click)="removeUser()">Remove a User</button>
    <button mat-menu-item (click)="updateUser()">Update a User</button>
  </mat-menu>

  <mat-menu class="menu-class" #recipients="matMenu">
    <button mat-menu-item (click)="addrecipient()">Add a Recipient</button>
    <button mat-menu-item (click)="removerecipient()">Remove a recipient</button>
    <button mat-menu-item (click)="updaterecipient()">Update a recipient</button>
  </mat-menu>

  <mat-menu class="menu-class" #devices="matMenu">
    <button mat-menu-item (click)="addDevice()">Add a Device/Devices</button>
    <button mat-menu-item (click)="removeDevice()">Remove a Device/Devices</button>
    <button mat-menu-item (click)="updateDevice()">Update a Device/Devices</button>
  </mat-menu>

  <mat-menu class="menu-class" #gallery="matMenu">
    <button mat-menu-item (click)="addPhoto()">Add a Photo/Photos</button>
    <button mat-menu-item (click)="removePhoto()">Remove a Photo/Photos</button>
  </mat-menu>

  <mat-menu class="menu-class" #donations="matMenu">
    <button mat-menu-item (click)="addDonation()">Add a Donation</button>
    <button mat-menu-item (click)="removeDonation()">Remove a Donation</button>
  </mat-menu>

  <mat-menu class="menu-class" #report="matMenu">
    <button mat-menu-item (click)="addReport()">Add a Report</button>
    <button mat-menu-item (click)="removeReport()">Remove a Report</button>
  </mat-menu>

  <mat-menu class="menu-class" #deviceInfo="matMenu">
    <button mat-menu-item (click)="addDeviceInfo()">Add Device Info</button>
    <button mat-menu-item (click)="removeDeviceInfo()">Remove Device Info</button>
  </mat-menu>

  <mat-menu  class="menu-class" #account="matMenu">
    <label mat-menu-item>{{userAccountService.user.userName}}</label>
    <button mat-menu-item>Change Password</button>
    <button mat-menu-item>Log Out</button>
  </mat-menu>

</div>

<app-inventory-table></app-inventory-table>
