<div style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px; text-align: center;">
  <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
  </button>

  <span style="display:inline-block; width: 85%;"></span>

  <button mat-button [matMenuTriggerFor]="account">
    <mat-icon>account_circle</mat-icon>
  </button>

  <h1 class="center">ALTEA - School Donations Inventory</h1>

  <mat-menu #menu="matMenu">
    <button mat-menu-item >Add a Schools</button>
    <button mat-menu-item >Add a Devices</button>

  </mat-menu>

  <mat-menu #account="matMenu">
    <label mat-menu-item>Admin</label>
    <button mat-menu-item>Change Password</button>
    <button mat-menu-item>Log Out</button>
  </mat-menu>
</div>


<div style="margin-top: 0px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;">
  <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Schools">

        <table mat-table [dataSource]="datasourceSchools" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->



          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="principal">
            <th mat-header-cell *matHeaderCellDef> Principal </th>
            <td mat-cell *matCellDef="let element"> {{element.principal}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="emailAddress">
            <th mat-header-cell *matHeaderCellDef> Email Address </th>
            <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumnsSchools"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSchools;"></tr>
        </table>

      </mat-tab>
      <mat-tab label="Devices">



        <table mat-table [dataSource]="datasourceDevices" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->



          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef> Brand </th>
            <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
          </ng-container>

           <!-- Symbol Column -->
           <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="serialNumber">
            <th mat-header-cell *matHeaderCellDef> Serial Number </th>
            <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsDevices"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDevices;"></tr>
        </table>




      </mat-tab>
      <!-- <mat-tab label="Reports">
      </mat-tab>
      <mat-tab label="Donations">
      </mat-tab> -->
    </mat-tab-group>
</div>
