<div class="center" style="border: 0.01px solid rgb(192, 192, 192);">
  <div style="margin-top:20px; margin-left: 20px;;text-align: center;">
    <span style="display:inline-block; width: 20px;"></span>


      <div style="margin-bottom:20px;margin-left: 20px;text-align: left;">
        <button mat-raised-button  (click)="goHome()">Home</button>
      </div>


      <h2>Remove a Photo</h2>

      <mat-form-field appearance="outline">
        <mat-label>Enter the User ID remove</mat-label>
        <input matInput [(ngModel)]="removeID">
      </mat-form-field>

      <span style="display:inline-block; height: 60px;"></span>

      <div style="margin-bottom:20px;text-align: center;">
        <button mat-raised-button color="primary" (click)="selectVerifyUser()">Select and Verify</button>
      </div>

      <hr>


      <div *ngIf="selectedPhoto!=null">
        <img  class="images" [src]="selectedPhoto.fileString" alt="" style="max-width: 500px;"/>
        <hr>
      </div>



      <span style="display:inline-block; width: 20px;"></span>

      <mat-form-field  appearance="outline">
        <mat-label>Description</mat-label>
        <input [readonly]="true" matInput [(ngModel)]="selectedPhoto.description">
      </mat-form-field>

      <span style="display:inline-block; width: 20px;"></span>



      <mat-form-field  appearance="outline">
        <mat-label>Recipient</mat-label>
        <input [readonly]="true" matInput [(ngModel)]="selectedPhoto.recipient.name">
      </mat-form-field>

      <span style="display:inline-block; width: 20px;"></span>



  </div>

  <div style="margin-bottom:20px;margin-left: 20px;text-align: center;">
    <button mat-raised-button color="primary" (click)="remove()">Remove</button>
  </div>
</div>
