<div class="container" style="padding: 5%;text-align: center;">
  <h1 class="text-black-100" style="font-family: 'Open Sans' ;font-size: 50px;font-weight: 800; text-align:center;color: black;">HOW TO DONATE</h1>
  <span style="display:inline-block; height: 30px"></span>
  <div>  <img class="img-fluid" src="assets/img/donation.jpg" alt="">
  </div>
  <span style="display:inline-block; height: 30px"></span>


  <h2 style="font-family: 'Open Sans' ;font-size: 30px;font-weight: 300; text-align:center;line-height: 1.2; color: black;">WE DONATE IT EQUIPMENT’S AND PROVIDE INTERNET FACILITY TO UNDER PRIVILAGE SCHOOLS TO ENHANCE EDUCATIONAL LEVELS OF POOR SCHOOL CHILDREN.</h2>
  <span style="display:inline-block; height: 30px"></span>

  <h2 style="font-family: 'Open Sans' ;font-size: 25px;font-weight: 300; text-align:justify;line-height: 1.2; color: black;">The donations are organized by ALTEA Association with the assistance of Findex, Australia. To be eligible for this donation project, the School nominated should not have any Computers. The Schools have to add the Serial Numbers of the Machines that they received, to the Schools Inventory and inform the Education Department of the District concern about the IT Equipment’s that they received and Serial Numbers. The ALTEA Association will monitor the progress achieved by Schools in their education by using donated IT Equipment’s.
  </h2>

  <button (click)="goToDonate()" type="button" class="btn btn-dark">Donate Now</button>


</div>
