<div class="container slider">

    <div class="slide">
      <header class="masthead" >
        <div class="text-left"  >
          <span style="display:inline-block; height: 150px;"></span>
          <h2   class="text-uppercase pitch-1">Tech Mission </h2>
          <h2   class="text-uppercase pitch-1">to </h2>
          <h2   class="text-uppercase pitch-1">Sri Lanka.</h2>
        </div>
      </header>
    </div>

    <div class="slide">
      <header class="masthead" >
        <div class="text-left"  >
          <span style="display:inline-block; height: 150px;"></span>

          <h2  class="text-uppercase pitch-2"
            >We help underprivileged children enhance their education.
          </h2>
        </div>
      </header>
    </div>

    <div class="slide">
      <header class="masthead" >
        <div class="text-left"  >
          <span style="display:inline-block; height: 150px;"></span>

          <h2  class="text-uppercase pitch-3">Support us </h2>
          <h2  class="text-uppercase pitch-3">with your </h2>
          <h2  class="text-uppercase pitch-3">Internet Donation.</h2>
           
        </div>
      </header>
    </div>

      <!-- <header class="masthead" >
          <div class="text-left"  >

            <span style="display:inline-block; height: 150px;"></span>

            <h2  *ngIf="state==1" class="text-uppercase pitch-1"
              >Tech Mision to Sri Lanka.
            </h2>
            <h2 *ngIf="state==2" class="text-uppercase pitch-2"
              >We help underprivileged children enhance their education.
            </h2>

            <h2  *ngIf="state==3" class="text-uppercase pitch-3"
            >Support us with your Internet Donation.
          </h2>

        </div>

      </header> -->

 </div>




