<div class="container">
  <span style="display:inline-block; height:30px"></span>

  <h3 class="text-black-100" style="font-family: 'Open Sans' ;font-size: 50px;font-weight: 800; text-align:center;line-height: 1.2; color:black;">ABOUT US</h3>
  <span style="display:inline-block; height:50px"></span>
  <h3 class="text-black-100" style="font-family: 'Open Sans' ;font-size: 40px;font-weight: 800; text-align:center;line-height: 1.2;color:black;">MISSION</h3>

  <h3 class="text-black-100" style="font-family: 'Open Sans' ;font-size: 30px;font-weight: 600; text-align:justify;line-height: 1.2;">Our mission is to empower poor children from underprivileged schools to reach their full potential through education and to bridge the educational gap and help these children succeed academically, ultimately leading to a brighter future for themselves and severe the Country.</h3>

  <span style="display:inline-block; height:80px"></span>

  <h3 class="text-black-100" style="font-family: 'Open Sans' ;font-size: 40px;font-weight: 800; text-align:center;line-height: 1.2;color:black;">VISION</h3>

  <h3 class="text-black-100" style="font-family: 'Open Sans' ;font-size: 30px;font-weight: 600; text-align:justify;line-height: 1.2;">Our vision for the Laptop donation project for Schools is to provide equal access to technology and education for poor students in underprivileged Schools. The goal is to bridge the digital divide by donating laptops and internet access to schools in need, empowering students to achieve their full potential and succeed in the 21st century. </h3>

  <span style="display:inline-block; height:80px"></span>

  <h3 class="text-black-100" style="font-family: 'Open Sans' ;font-size: 40px;font-weight: 800; text-align:center;line-height: 1.2;color:black;">OUR STORY</h3>

  <h3 class="text-black-100" style="font-family: 'Open Sans' ;font-size: 30px;font-weight: 600; text-align:justify;line-height: 1.2;">We started this charity programme to donate Computers in the year 2012, by donating only two Laptops. In the year 2013, we donated about 5 Laptops to rural schools. Thereafter, in 2014 and 2015 also, I donated Computers in small scale. Thereafter, through collaboration with Findex Australia, which is an Australian financial institution, along with number of individual benefactors, we have been organizing IT devices and Computer Lab donations to the underprivileged rural schools in Sri Lanka from Australia-Melbourne since 2016. By doing so, we have provided IT facilities to the innocent School Children from poor families in village Schools to enhance their education.

    We have donated 255 Laptops, 196 PC’s, 150 Monitors, 150 Keyboards, 150 Mice, 10 Network Switches, 29 Projectors, Monitor Cables, Network Cables and Power Cables through ALTEA Association, since 2016 for under privilege rural schools in Sri Lanka.

    In the year 2021/2022 itself, we donated IT Equipment’s to worth of Rs.25 million and also arranged to provide SLT Internet connection to 22 Schools (which have more than 5,000 School Children) in Kegalle region, which did not have the financial capacity to have one before.
     </h3>

  <span style="display:inline-block; height:80px"></span>

</div>


<div style="background: #000;">
  <span style="display:inline-block; height:80px"></span>

  <div class="container">
    <h3 class="text-white-100" style="font-family: 'Open Sans' ;font-size: 40px;font-weight: 600; text-align:center;line-height: 1.2; color:white;">GET IN TOUCH WITH US</h3>
    <hr>
    <h3 class="text-white-100" style="font-family: 'Open Sans' ;font-size: 30px;font-weight: 400; text-align:center;line-height: 1.2; color:white;">1234567890</h3>
    <h3  style="font-family: 'Open Sans' ;font-size: 30px;font-weight: 400; text-align:center;line-height: 1.2; color:white;">support@altea.lk</h3>
    <span style="display:inline-block; height:80px"></span>

    <div style="text-align: center;">
      <i-bs name="facebook"
            width="75"
              height="75">
    </i-bs>
    <span style="display:inline-block; width:30px"></span>

    <i-bs name="youtube"
            width="75"
              height="75">
    </i-bs>
    <span style="display:inline-block; width:30px"></span>

    <i-bs name="linkedin"
            width="75"
              height="75">
    </i-bs>
    <span style="display:inline-block; width:30px"></span>

    <i-bs name="twitter"
            width="75"
              height="75">
    </i-bs>
    </div>


  </div>
  <span style="display:inline-block; height:80px"></span>
  <h3  style="font-family: 'Open Sans' ;font-size: 30px;font-weight: 400; text-align:center;line-height: 1.2; color:white;">&copy; ALTEA Association | 2023</h3>
  <span style="display:inline-block; height:80px"></span>


</div>
