<div style="border: 0.01px solid rgb(192, 192, 192);">deviceForm
  <div style="margin-top:20px;">
    <!-- <form [formGroup]="deviceForm">

      <h2>Adding a device</h2>

      <mat-form-field appearance="outline">
        <mat-label>Device Type</mat-label>
        <input matInput formControlName="type">
      </mat-form-field>

      <span style="display:inline-block; width: 20px;"></span>

      <mat-form-field  appearance="outline">
        <mat-label>Device Brand</mat-label>
        <input matInput formControlName="brand">
      </mat-form-field>

      <span  style="display:inline-block; width: 20px;"></span>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>

      <span style="display:inline-block; width: 20px;"></span>


      <mat-form-field appearance="outline">
        <mat-label>Serial Number</mat-label>
        <input matInput formControlName="serialNumber">
      </mat-form-field>

      <span  style="display:inline-block; width: 20px;"></span>

      <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity">
      </mat-form-field>

    </form> -->
  </div>
  <div style="margin-bottom:20px;">
    <button mat-raised-button color="primary" >Add device</button>
  </div>
</div>
