<div class="center" style="border: 0.01px solid rgb(192, 192, 192);">
  <div style="margin-top:20px; margin-left: 20px;;text-align: center;">
    <span style="display:inline-block; width: 20px;"></span>

    <div style="margin-bottom:20px;margin-left: 20px;text-align: left;">
      <button mat-raised-button  (click)="goHome()">Home</button>
    </div>

      <h2>Update User</h2>

      <mat-form-field appearance="outline">
        <mat-label>Enter the User ID to update</mat-label>
        <input matInput [(ngModel)]="updateID">
      </mat-form-field>

      <span style="display:inline-block; height: 60px;"></span>

      <div style="margin-bottom:20px;text-align: center;">
        <button mat-raised-button color="primary" (click)="selectVerifyUser()">Select and Verify</button>
      </div>

      <hr>

      <span style="display:inline-block; height: 60px;"></span>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input  matInput [(ngModel)]="user.name">
      </mat-form-field>

      <span style="display:inline-block; width: 20px;"></span>

      <mat-form-field  appearance="outline">
        <mat-label>Username</mat-label>
        <input  matInput [(ngModel)]="user.userName">
      </mat-form-field>

      <span style="display:inline-block; width: 20px;"></span>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input  matInput [(ngModel)]="user.password">
      </mat-form-field>

      <span style="display:inline-block; width: 20px;"></span>


      <mat-form-field  appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input  matInput [(ngModel)]="user.phoneNumber">
      </mat-form-field>

      <span  style="display:inline-block; width: 20px;"></span>

      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input  matInput [(ngModel)]="user.email">
      </mat-form-field>

      <span  style="display:inline-block; width: 20px;"></span>

      <mat-form-field appearance="outline">
        <mat-label>User Type</mat-label>
        <input [readonly]="true" matInput [(ngModel)]="user.userType">
      </mat-form-field>

      <span style="display:inline-block; width: 20px;"></span>

  </div>
  <div style="margin-bottom:20px;margin-left: 20px;text-align: center;">
    <button mat-raised-button color="primary" (click)="update()">Update</button>
  </div>
</div>
